{% extends 'base.html' %}
{% block content %}

<div class="container">
<h1>User Settings</h1>
<p>Use the form below to change your password.</p>

{% if form.errors %}
<div class="alert alert-error">
<h4 class="alert-heading">Warning</h4>
<p>There was a problem with the form you submitted.</p>
</div>
{% endif %}

<form method="post" action="/settings" class="form-horizintal">
{% csrf_token %}
{{form.as_p}}

<input type="submit" class="btn btn-primary" value="Save"/>
<input type="hidden" name="next" value="{{ next }}" />
</form>

{% endblock %}
