<hr/>
<table class="table-striped" style="width: 100%;">
  <tbody>
    {% for checklist in checklists %}
    <tr style="width: 100%">
      <td style="width: 20px;">
        <a href="/checklist/{{checklist.id}}" title="View this checklist"><i class="icon-eye-open"></i></a>
      </td>
      <td style="width: 20px;">
        <a href="/checklist/{{checklist.id}}/print" title="Print this checklist"><i class="icon-print"></i></a>
      </td>
      <td style="width: 50px;">
        {% load comments %}
        {% get_comment_count for checklist as comment_count %}
        <a href="/checklist/{{checklist.id}}/comments" title="View/add comments for this checklist [{{ comment_count }} so far]"><i class="icon-comment"></i> [{{ comment_count }}]</a>
      </td>
      <td style="width: *;">
        <a href="/checklist/{{checklist.id}}" title="View this checklist">
          {{checklist.title}}
        </a>
        <span class="pull-right" style="margin-right:10px">{% include '_tags.html' %}</span>
      </td>
      <td style="width: 80px;">
        <div class="btn-group">
          {% if checklist.owner.id == user.id %}
          <a href="/checklist/{{checklist.id}}/edit" class="btn btn-primary" title="Edit this checklist"><i class="icon-pencil icon-white"></i></a>
          <a href="/checklist/{{checklist.id}}/delete" class="btn btn-danger" title="Delete this checklist" onclick="return confirm('Are you sure (this step can not be undone.)')"><i class="icon-trash icon-white"></i></a>
          {% elif user.is_authenticated %}
          <a href="/checklist/{{checklist.id}}/clone" class="btn btn-primary">Clone</a>
          {% endif %}
        </div>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<hr/>
