<!DOCTYPE html>
<html>
    <head>
        <title>{{ title|default:"ChecklistHQ.com" }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
          <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js">
            </script>
          <![endif]-->
        <!-- Le styles -->
        <link rel="icon" type="image/x-icon" href="{{ STATIC_URL }}img/favicon.ico"/>
        <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.min.css"/>
        <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-responsive.min.css"/>
        {% block css_includes %}{% endblock %}
    </head>
    <body style="padding-top: 48px;">
        {% block header %}
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="brand" href="/">
                        <i class="icon-check icon-white"></i>ChecklistHQ
                    </a>
                </div>
            </div>
        </div>
        {% endblock %}
        {% block content %}{% endblock %}
        {% block footer %}
        <div class="container">
            <p>
                <small>&copy; 2012 Nicholas H.Tollervey |
                <a href="mailto:info@checklisthq.com">Get in Touch</a></small>
            </p>
        </div>
        {% endblock %}
        <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.7.2.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/ember-latest.min.js"></script>
        {% block js_includes %}{% endblock %}
        <script type="text/javascript">
            $(document).ready(function() {
                {% block jq_ready %}{% endblock %}
            });
        </script>
    </body>
</html>

