<!DOCTYPE html>
<html>
    <head>
        <title>{{ title|default:"ChecklistHQ.com" }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
          <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js">
            </script>
          <![endif]-->
        <!-- Le styles -->
        <link rel="icon" type="image/x-icon" href="{{ STATIC_URL }}img/favicon.ico"/>
        <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.min.css"/>
        <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/hack.css"/>
        <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-responsive.min.css"/>
        {% block css_includes %}{% endblock %}
    </head>
    <body>
        {% block header %}
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="btn btn-navbar" data-toggle="collapse"
                        data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    {% if user.is_authenticated %}
                        <a class="brand" href="/user/{{user.username}}">
                    {% else %}
                        <a class="brand" href="/">
                    {% endif %}
                        <img src="{{ STATIC_URL }}img/logo_white.png"
                            style="max-width: 20px; vertical-align: bottom;"/>
                        ChecklistHQ
                    </a>
                    <form class="navbar-search pull-left" method="get" action="/search">
                        <input type="text" class="search-query" name="query" placeholder="Search tags (separate by comma)..."/>
                    </form>
                    <div class="nav-collapse">
                        <ul class="nav pull-right">
                        {% if user.is_authenticated %}
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Hi {{ user.username }} <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="/user/{{user.username}}">
                                        Your Checklists
                                    </a></li>
                                    <li><a href="/settings">Settings</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li><a href="/logout/">Logout</a></li>
                                </ul>
                             </li>
                        {% else %}
                            <li><a href="/users/new">Sign up</a></li>
                            <li><a href="/login">Login</a></li>
                        {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        {% endblock %}
        {% if messages %}
        <div class="container">
        {% for message in messages %}
          <div class="alert alert-block alert-info">
            <a class="close" data-dismiss="alert" href="#">×</a>
            {{ message }}
          </div>
        {% endfor %}
        </div>
        {% endif %}
        <div id="delModal" class="modal hide">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">×</button>
            <h3>Delete checklist</h3>
          </div>
          <div class="modal-body">
            Are you sure you want to delete the checklist?
          </div>
          <div class="modal-footer">
            <a href="#" class="btn" data-dismiss="modal">Cancel</a>
            <a href="/checklist/{{checklist.id}}/delete" class="btn btn-danger">Delete</a>
          </div>
        </div>
        {% block content %}{% endblock %}
        {% block footer %}
        <div class="container">
            <p>
                <small>&copy; 2012 ChecklistHQ |
                <a href="mailto:info@checklisthq.com">Get in Touch</a></small>
            </p>
        </div>
        {% endblock %}

        <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.7.2.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/modal.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/ember-latest.min.js"></script>
        {% block js_includes %}{% endblock %}
        <script type="text/javascript">
          $(document).ready(function() {
            {% block jq_ready %}{% endblock %}
          });
        </script>
    </body>
</html>

