{% extends 'base.html' %}
{% block content %}
<div class="container">
    <h1>Comments for {{ checklist.title }}</h1>
    <p><a href="/checklist/{{checklist.id}}" class="btn btn-primary">
    View Checklist</a></p>
    {% include '_metadata.html' %}
    {% include '_tags.html' %}
    <hr/>
    {% load comments %}
    {% render_comment_list for checklist %}
    {% get_comment_form for checklist as form %}
    <form action="{% comment_form_target %}" method="post">
        {% csrf_token %}
        {{form.as_p}}
        <input type="hidden" name="next" value="/checklist/{{checklist.id}}/comments"/>
        <input type="submit" name="submit" value="Post" class="btn btn-primary"/>
    </form>
</div>
{% endblock %}
