{% extends 'base.html' %}
{% block content %}
<div class="container">
  <div class="hero-unit">
    <h1>ChecklistHQ</h1>
    <p>&nbsp;</p>
    <h2>Checklists save lives</h2>
    <h2>Curate checklists on ChecklistHQ</h2>
    <h2>Discover, share and collaborate on ChecklistHQ</h2>
    <div class="alert alert-block">
      <a class="close" data-dismiss="alert" href="#">×</a>
      <h4 class="alert-heading">Warning!</h4>
      This website is currently in a alpha state (basically a construction site) and will contain bugs! Explore with caution :) 
    </div>
    <a href="/browse" class="btn btn-large btn-primary">Browse all checklists</a>
    {% if user.is_authenticated %}
    <a href="/user/{{user.username}}"
      class="btn btn-primary btn-large">{{user.username}}'s checklists</a>
    {% else %}
    <a href="/users/new" class="btn btn-large btn-success">Sign Up</a>
    <a href="/login" class="btn btn-large btn-success">Log In</a>
    {% endif %}
  </div>
</div>
{% endblock %}
