{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="span8 offset2">
        <h1 style="font-size: 48px; line-height: 64px;">{{ checklist.title }}</h1>
        <p><small>Created by: {{checklist.owner.username}}.
        Last updated: {{checklist.modified}}</small></p>
        {% include '_tags.html' %}
        <hr/>
        {{ result|safe }}
        <button class="btn btn-primary" id="backbutton">Back</button>
        <button class="btn btn-primary" id="printbutton">Print</button>
        </div>
    </div>
</div>
{% endblock %}
{% block jq_ready %}
$("#backbutton").click(function(e) {
    history.go(-1);
});
$("#printbutton").click(function(e) {
    window.print();
});
{% endblock %}
