{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="span8 offset2">
        <h1 style="font-size: 48px; line-height: 64px;">{{ checklist.title }}</h1>
        <p><small>Created by: {{checklist.owner.username}}.
        Last updated: {{checklist.modified}}</small></p>
        {% include '_tags.html' %}
        <hr/>
        {{ result|safe }}
        {% load comments %}
        {% get_comment_count for checklist as comment_count %}
        <div class="btn-group">
          <a class="btn btn-primary" href="javascript:history.go(-1);"><i class="icon-arrow-left icon-white"></i> Back</button>
          <a class="btn btn-primary" href="javascript:window.print();"><i class="icon-print icon-white"></i> Print</button>
          <a class="btn btn-primary" href="/checklist/{{checklist.id}}/comments"><i class="icon-comment icon-white"></i> Show / add comments [{{ comment_count }} so far]</a>
        </div>
        </div>
    </div>
</div>
{% endblock %}
