{% extends 'base.html' %}
{% block content %}
<div class="container">
  {% if is_own_checklists %}
  <h1>Hello {{ user.username }}!</h1>
  <hr/>
  <h2>My Library</h2>
  {% else %}
  <h1>{{owner.username}}'s Library</h1>
  {% endif %}
  {% if checklists %}
  {% include '_checklists.html' %}
  {% else %}
  <hr/>
  {% if user.id == owner.id %}
  <p>You don't appear to have any checklists. Why not click on the
  "Create New Checklist" button below and get started? Alternatively,
  find someone else's, copy it to your library and modify it to your
  needs.</p>
  {% else %}
  <h2>Oh dear!</h2>
  <p>It appears that {{owner.username}} has not created any checklists.</p>
  {% endif %}
  <hr/>
  {% endif %}
  <a href="/browse" class="btn btn-primary">Browse all checklists</a>
  {% if user.is_authenticated %}
  <a href="/checklist/new" class="btn btn-success"> Create New Checklist </a>
  {% endif %}
</div>
{% endblock %}
