{% extends 'base.html' %}



{% block content %}

<div class="container">
    <h1>Checklist Editor</h1>
    <hr/>
    <div class="row">
        <div class="span7">
            {% if saved %}
            <div class="alert alert-success">
                <a href="#" class="close" data-dismiss="alert">&times;</a>
                <h4 class="alert-heading">Success!</h4>
                <p>{{saved}}</p>
            </div>
            {% endif %}
            <form action="{{ action }}" method="post" id="checklistform">
            {{ form.non_field_errors }}
            {{ form.title.label }}:
            {{ form.title }}<br/>
            {{ form.content.label }}<br/>
            <div class="btn-group">
                <button class="btn" id="addheading">Add Heading</button>
                <button class="btn" id="addchecklistitem">Add Checklist item</button>
                <button class="btn" id="addchecklistgroupitem">Add Checklist group item</button>
                <button class="btn" id="addtextbox">Add Textbox</button>
            </div>
                {{ form.content }}<br/>
                {{ form.tags.label }}:
                {{ form.tags }}
                {{ form.tags.description }}<br/>
                {% csrf_token %}
                <input type="submit" id="Preview" name="Preview" value="Preview" class="btn"/>
                <input type="submit" id="Save" name="Save" Value="Save" class="btn btn-primary"/>
                <input type="button" value="Clear" class="btn btn-danger"
                    id="clear"/>
                <input type="reset" value="Reset" class="btn btn-success"/>
            </form>
        </div>
        <div class="well span4">
            <h3>Help</h3>
            <p>Type a checklist into the box on the left. You can specify
            different parts of the checklist by clicking the buttons at the
            top of the text area.</p>
            <dl>
                <dt>== Heading ==</dt>
                <dd>Enclose headings in equals characters.</dt>
                <dt>[] Item</dt>
                <dd>Single items start with empty square brackets.</dd>
                <dt>() Choice Item</dt>
                <dd>Only one item from a group of choice items can be selected.</dd>
                <dt>[...] Text item</dt>
                <dd>Items that allow for textual entry start with [...].</dd>
                <dt>---</dt>
                <dd>Three or more minus characters create a horizontal line.</dd>
                <dt>Plain text</dt>
                <dd>Any other text is rendered as a paragraph.</dd>
            </dl>
        </div>
    </div>
    
    
    
      <div id="myModal" class="modal hide">
    <div class="modal-header">

      <h3 id="modaltitle">Add item</h3>
    </div>
    <div class="modal-body">
      <input type="text" id="modalval"/>
    </div>
    <div class="modal-footer">
      <a href="#" class="btn primary" id="savebutton">Add</a>
      <a href="#" class="btn" data-dismiss="modal"  id="closebutton">Cancel</a>
    </div>
  </div>
</div>
{% block js_includes %}
<script type="text/javascript" src="{{ STATIC_URL }}js/formbuttons.js"></script>
{% endblock %}
{% endblock %}
